@model IEnumerable<EMarket.Areas.Admin.Models.TopSelling>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SoLan)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.HangHoa.TenHangHoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HangHoa.Hinh)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SoLan)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.HangHoa.TenHangHoa)
            </td>
            <td>
                <img style="width: 200px; height: auto;" src="~/img/@Html.DisplayFor(modelItem => item.HangHoa.Hinh)" alt="" />
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.TopSellingId">Edit</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.HangHoa.HangHoaId">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.TopSellingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
